@import 'normalize.css';
body {
  overflow: hidden;
/*font-family: 'Bad Script', cursive;*/
  font-family: 'Roboto', serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
}
body * {
  box-sizing: border-box;
}
.mj-calendar {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,0.25);
}
.mj-calendar * {
  shape-rendering: auto;
}
.mj-calendar__month {
  font-size: 10px;
  font-family: 'Bad Script', cursive;
}
.mj-calendar__note {
  fill: #000;
  font-size: 4px;
  font-family: 'Bad Script', cursive;
}
.mj-calendar__date {
  font-size: 2.5px;
  opacity: 0.5;
}
.mj-calendar__date__weekend {
  fill: #00008c;
}
.mj-calendar__dateWrap {
  width: 20px;
  height: 20px;
  overflow: visible !important;
  transition: all 0.25s ease-in-out;
}
.mj-calendar__day:nth-child(1) {
  foo: 1;
}
.mj-calendar__day:nth-child(1)>circle {
  stroke: rgba(223,35,32,0.75);
}
.mj-calendar__day:nth-child(2) {
  foo: 2;
}
.mj-calendar__day:nth-child(2)>circle {
  stroke: rgba(223,38,32,0.75);
}
.mj-calendar__day:nth-child(3) {
  foo: 3;
}
.mj-calendar__day:nth-child(3)>circle {
  stroke: rgba(223,41,32,0.75);
}
.mj-calendar__day:nth-child(4) {
  foo: 4;
}
.mj-calendar__day:nth-child(4)>circle {
  stroke: rgba(223,44,32,0.75);
}
.mj-calendar__day:nth-child(5) {
  foo: 5;
}
.mj-calendar__day:nth-child(5)>circle {
  stroke: rgba(223,48,32,0.75);
}
.mj-calendar__day:nth-child(6) {
  foo: 6;
}
.mj-calendar__day:nth-child(6)>circle {
  stroke: rgba(223,51,32,0.75);
}
.mj-calendar__day:nth-child(7) {
  foo: 7;
}
.mj-calendar__day:nth-child(7)>circle {
  stroke: rgba(223,54,32,0.75);
}
.mj-calendar__day:nth-child(8) {
  foo: 8;
}
.mj-calendar__day:nth-child(8)>circle {
  stroke: rgba(223,57,32,0.75);
}
.mj-calendar__day:nth-child(9) {
  foo: 9;
}
.mj-calendar__day:nth-child(9)>circle {
  stroke: rgba(223,60,32,0.75);
}
.mj-calendar__day:nth-child(10) {
  foo: 10;
}
.mj-calendar__day:nth-child(10)>circle {
  stroke: rgba(223,63,32,0.75);
}
.mj-calendar__day:nth-child(11) {
  foo: 11;
}
.mj-calendar__day:nth-child(11)>circle {
  stroke: rgba(223,66,32,0.75);
}
.mj-calendar__day:nth-child(12) {
  foo: 12;
}
.mj-calendar__day:nth-child(12)>circle {
  stroke: rgba(223,70,32,0.75);
}
.mj-calendar__day:nth-child(13) {
  foo: 13;
}
.mj-calendar__day:nth-child(13)>circle {
  stroke: rgba(223,73,32,0.75);
}
.mj-calendar__day:nth-child(14) {
  foo: 14;
}
.mj-calendar__day:nth-child(14)>circle {
  stroke: rgba(223,76,32,0.75);
}
.mj-calendar__day:nth-child(15) {
  foo: 15;
}
.mj-calendar__day:nth-child(15)>circle {
  stroke: rgba(223,79,32,0.75);
}
.mj-calendar__day:nth-child(16) {
  foo: 16;
}
.mj-calendar__day:nth-child(16)>circle {
  stroke: rgba(223,82,32,0.75);
}
.mj-calendar__day:nth-child(17) {
  foo: 17;
}
.mj-calendar__day:nth-child(17)>circle {
  stroke: rgba(223,85,32,0.75);
}
.mj-calendar__day:nth-child(18) {
  foo: 18;
}
.mj-calendar__day:nth-child(18)>circle {
  stroke: rgba(223,88,32,0.75);
}
.mj-calendar__day:nth-child(19) {
  foo: 19;
}
.mj-calendar__day:nth-child(19)>circle {
  stroke: rgba(223,92,32,0.75);
}
.mj-calendar__day:nth-child(20) {
  foo: 20;
}
.mj-calendar__day:nth-child(20)>circle {
  stroke: rgba(223,95,32,0.75);
}
.mj-calendar__day:nth-child(21) {
  foo: 21;
}
.mj-calendar__day:nth-child(21)>circle {
  stroke: rgba(223,98,32,0.75);
}
.mj-calendar__day:nth-child(22) {
  foo: 22;
}
.mj-calendar__day:nth-child(22)>circle {
  stroke: rgba(223,101,32,0.75);
}
.mj-calendar__day:nth-child(23) {
  foo: 23;
}
.mj-calendar__day:nth-child(23)>circle {
  stroke: rgba(223,104,32,0.75);
}
.mj-calendar__day:nth-child(24) {
  foo: 24;
}
.mj-calendar__day:nth-child(24)>circle {
  stroke: rgba(223,107,32,0.75);
}
.mj-calendar__day:nth-child(25) {
  foo: 25;
}
.mj-calendar__day:nth-child(25)>circle {
  stroke: rgba(223,110,32,0.75);
}
.mj-calendar__day:nth-child(26) {
  foo: 26;
}
.mj-calendar__day:nth-child(26)>circle {
  stroke: rgba(223,114,32,0.75);
}
.mj-calendar__day:nth-child(27) {
  foo: 27;
}
.mj-calendar__day:nth-child(27)>circle {
  stroke: rgba(223,117,32,0.75);
}
.mj-calendar__day:nth-child(28) {
  foo: 28;
}
.mj-calendar__day:nth-child(28)>circle {
  stroke: rgba(223,120,32,0.75);
}
.mj-calendar__day:nth-child(29) {
  foo: 29;
}
.mj-calendar__day:nth-child(29)>circle {
  stroke: rgba(223,123,32,0.75);
}
.mj-calendar__day:nth-child(30) {
  foo: 30;
}
.mj-calendar__day:nth-child(30)>circle {
  stroke: rgba(223,126,32,0.75);
}
.mj-calendar__day:nth-child(31) {
  foo: 31;
}
.mj-calendar__day:nth-child(31)>circle {
  stroke: rgba(223,129,32,0.75);
}
.mj-calendar__day:nth-child(32) {
  foo: 32;
}
.mj-calendar__day:nth-child(32)>circle {
  stroke: rgba(223,132,32,0.75);
}
.mj-calendar__day:nth-child(33) {
  foo: 33;
}
.mj-calendar__day:nth-child(33)>circle {
  stroke: rgba(223,136,32,0.75);
}
.mj-calendar__day:nth-child(34) {
  foo: 34;
}
.mj-calendar__day:nth-child(34)>circle {
  stroke: rgba(223,139,32,0.75);
}
.mj-calendar__day:nth-child(35) {
  foo: 35;
}
.mj-calendar__day:nth-child(35)>circle {
  stroke: rgba(223,142,32,0.75);
}
.mj-calendar__day:nth-child(36) {
  foo: 36;
}
.mj-calendar__day:nth-child(36)>circle {
  stroke: rgba(223,145,32,0.75);
}
.mj-calendar__day:nth-child(37) {
  foo: 37;
}
.mj-calendar__day:nth-child(37)>circle {
  stroke: rgba(223,148,32,0.75);
}
.mj-calendar__day:nth-child(38) {
  foo: 38;
}
.mj-calendar__day:nth-child(38)>circle {
  stroke: rgba(223,151,32,0.75);
}
.mj-calendar__day:nth-child(39) {
  foo: 39;
}
.mj-calendar__day:nth-child(39)>circle {
  stroke: rgba(223,154,32,0.75);
}
.mj-calendar__day:nth-child(40) {
  foo: 40;
}
.mj-calendar__day:nth-child(40)>circle {
  stroke: rgba(223,158,32,0.75);
}
.mj-calendar__day:nth-child(41) {
  foo: 41;
}
.mj-calendar__day:nth-child(41)>circle {
  stroke: rgba(223,161,32,0.75);
}
.mj-calendar__day:nth-child(42) {
  foo: 42;
}
.mj-calendar__day:nth-child(42)>circle {
  stroke: rgba(223,164,32,0.75);
}
.mj-calendar__day:nth-child(43) {
  foo: 43;
}
.mj-calendar__day:nth-child(43)>circle {
  stroke: rgba(223,167,32,0.75);
}
.mj-calendar__day:nth-child(44) {
  foo: 44;
}
.mj-calendar__day:nth-child(44)>circle {
  stroke: rgba(223,170,32,0.75);
}
.mj-calendar__day:nth-child(45) {
  foo: 45;
}
.mj-calendar__day:nth-child(45)>circle {
  stroke: rgba(223,173,32,0.75);
}
.mj-calendar__day:nth-child(46) {
  foo: 46;
}
.mj-calendar__day:nth-child(46)>circle {
  stroke: rgba(223,176,32,0.75);
}
.mj-calendar__day:nth-child(47) {
  foo: 47;
}
.mj-calendar__day:nth-child(47)>circle {
  stroke: rgba(223,180,32,0.75);
}
.mj-calendar__day:nth-child(48) {
  foo: 48;
}
.mj-calendar__day:nth-child(48)>circle {
  stroke: rgba(223,183,32,0.75);
}
.mj-calendar__day:nth-child(49) {
  foo: 49;
}
.mj-calendar__day:nth-child(49)>circle {
  stroke: rgba(223,186,32,0.75);
}
.mj-calendar__day:nth-child(50) {
  foo: 50;
}
.mj-calendar__day:nth-child(50)>circle {
  stroke: rgba(223,189,32,0.75);
}
.mj-calendar__day:nth-child(51) {
  foo: 51;
}
.mj-calendar__day:nth-child(51)>circle {
  stroke: rgba(223,192,32,0.75);
}
.mj-calendar__day:nth-child(52) {
  foo: 52;
}
.mj-calendar__day:nth-child(52)>circle {
  stroke: rgba(223,195,32,0.75);
}
.mj-calendar__day:nth-child(53) {
  foo: 53;
}
.mj-calendar__day:nth-child(53)>circle {
  stroke: rgba(223,198,32,0.75);
}
.mj-calendar__day:nth-child(54) {
  foo: 54;
}
.mj-calendar__day:nth-child(54)>circle {
  stroke: rgba(223,202,32,0.75);
}
.mj-calendar__day:nth-child(55) {
  foo: 55;
}
.mj-calendar__day:nth-child(55)>circle {
  stroke: rgba(223,205,32,0.75);
}
.mj-calendar__day:nth-child(56) {
  foo: 56;
}
.mj-calendar__day:nth-child(56)>circle {
  stroke: rgba(223,208,32,0.75);
}
.mj-calendar__day:nth-child(57) {
  foo: 57;
}
.mj-calendar__day:nth-child(57)>circle {
  stroke: rgba(223,211,32,0.75);
}
.mj-calendar__day:nth-child(58) {
  foo: 58;
}
.mj-calendar__day:nth-child(58)>circle {
  stroke: rgba(223,214,32,0.75);
}
.mj-calendar__day:nth-child(59) {
  foo: 59;
}
.mj-calendar__day:nth-child(59)>circle {
  stroke: rgba(223,217,32,0.75);
}
.mj-calendar__day:nth-child(60) {
  foo: 60;
}
.mj-calendar__day:nth-child(60)>circle {
  stroke: rgba(223,221,32,0.75);
}
.mj-calendar__day:nth-child(61) {
  foo: 61;
}
.mj-calendar__day:nth-child(61)>circle {
  stroke: rgba(223,223,32,0.75);
}
.mj-calendar__day:nth-child(62) {
  foo: 62;
}
.mj-calendar__day:nth-child(62)>circle {
  stroke: rgba(219,223,32,0.75);
}
.mj-calendar__day:nth-child(63) {
  foo: 63;
}
.mj-calendar__day:nth-child(63)>circle {
  stroke: rgba(216,223,32,0.75);
}
.mj-calendar__day:nth-child(64) {
  foo: 64;
}
.mj-calendar__day:nth-child(64)>circle {
  stroke: rgba(213,223,32,0.75);
}
.mj-calendar__day:nth-child(65) {
  foo: 65;
}
.mj-calendar__day:nth-child(65)>circle {
  stroke: rgba(210,223,32,0.75);
}
.mj-calendar__day:nth-child(66) {
  foo: 66;
}
.mj-calendar__day:nth-child(66)>circle {
  stroke: rgba(207,223,32,0.75);
}
.mj-calendar__day:nth-child(67) {
  foo: 67;
}
.mj-calendar__day:nth-child(67)>circle {
  stroke: rgba(204,223,32,0.75);
}
.mj-calendar__day:nth-child(68) {
  foo: 68;
}
.mj-calendar__day:nth-child(68)>circle {
  stroke: rgba(201,223,32,0.75);
}
.mj-calendar__day:nth-child(69) {
  foo: 69;
}
.mj-calendar__day:nth-child(69)>circle {
  stroke: rgba(197,223,32,0.75);
}
.mj-calendar__day:nth-child(70) {
  foo: 70;
}
.mj-calendar__day:nth-child(70)>circle {
  stroke: rgba(194,223,32,0.75);
}
.mj-calendar__day:nth-child(71) {
  foo: 71;
}
.mj-calendar__day:nth-child(71)>circle {
  stroke: rgba(191,223,32,0.75);
}
.mj-calendar__day:nth-child(72) {
  foo: 72;
}
.mj-calendar__day:nth-child(72)>circle {
  stroke: rgba(188,223,32,0.75);
}
.mj-calendar__day:nth-child(73) {
  foo: 73;
}
.mj-calendar__day:nth-child(73)>circle {
  stroke: rgba(185,223,32,0.75);
}
.mj-calendar__day:nth-child(74) {
  foo: 74;
}
.mj-calendar__day:nth-child(74)>circle {
  stroke: rgba(182,223,32,0.75);
}
.mj-calendar__day:nth-child(75) {
  foo: 75;
}
.mj-calendar__day:nth-child(75)>circle {
  stroke: rgba(179,223,32,0.75);
}
.mj-calendar__day:nth-child(76) {
  foo: 76;
}
.mj-calendar__day:nth-child(76)>circle {
  stroke: rgba(175,223,32,0.75);
}
.mj-calendar__day:nth-child(77) {
  foo: 77;
}
.mj-calendar__day:nth-child(77)>circle {
  stroke: rgba(172,223,32,0.75);
}
.mj-calendar__day:nth-child(78) {
  foo: 78;
}
.mj-calendar__day:nth-child(78)>circle {
  stroke: rgba(169,223,32,0.75);
}
.mj-calendar__day:nth-child(79) {
  foo: 79;
}
.mj-calendar__day:nth-child(79)>circle {
  stroke: rgba(166,223,32,0.75);
}
.mj-calendar__day:nth-child(80) {
  foo: 80;
}
.mj-calendar__day:nth-child(80)>circle {
  stroke: rgba(163,223,32,0.75);
}
.mj-calendar__day:nth-child(81) {
  foo: 81;
}
.mj-calendar__day:nth-child(81)>circle {
  stroke: rgba(160,223,32,0.75);
}
.mj-calendar__day:nth-child(82) {
  foo: 82;
}
.mj-calendar__day:nth-child(82)>circle {
  stroke: rgba(157,223,32,0.75);
}
.mj-calendar__day:nth-child(83) {
  foo: 83;
}
.mj-calendar__day:nth-child(83)>circle {
  stroke: rgba(153,223,32,0.75);
}
.mj-calendar__day:nth-child(84) {
  foo: 84;
}
.mj-calendar__day:nth-child(84)>circle {
  stroke: rgba(150,223,32,0.75);
}
.mj-calendar__day:nth-child(85) {
  foo: 85;
}
.mj-calendar__day:nth-child(85)>circle {
  stroke: rgba(147,223,32,0.75);
}
.mj-calendar__day:nth-child(86) {
  foo: 86;
}
.mj-calendar__day:nth-child(86)>circle {
  stroke: rgba(144,223,32,0.75);
}
.mj-calendar__day:nth-child(87) {
  foo: 87;
}
.mj-calendar__day:nth-child(87)>circle {
  stroke: rgba(141,223,32,0.75);
}
.mj-calendar__day:nth-child(88) {
  foo: 88;
}
.mj-calendar__day:nth-child(88)>circle {
  stroke: rgba(138,223,32,0.75);
}
.mj-calendar__day:nth-child(89) {
  foo: 89;
}
.mj-calendar__day:nth-child(89)>circle {
  stroke: rgba(135,223,32,0.75);
}
.mj-calendar__day:nth-child(90) {
  foo: 90;
}
.mj-calendar__day:nth-child(90)>circle {
  stroke: rgba(131,223,32,0.75);
}
.mj-calendar__day:nth-child(91) {
  foo: 91;
}
.mj-calendar__day:nth-child(91)>circle {
  stroke: rgba(128,223,32,0.75);
}
.mj-calendar__day:nth-child(92) {
  foo: 92;
}
.mj-calendar__day:nth-child(92)>circle {
  stroke: rgba(125,223,32,0.75);
}
.mj-calendar__day:nth-child(93) {
  foo: 93;
}
.mj-calendar__day:nth-child(93)>circle {
  stroke: rgba(122,223,32,0.75);
}
.mj-calendar__day:nth-child(94) {
  foo: 94;
}
.mj-calendar__day:nth-child(94)>circle {
  stroke: rgba(119,223,32,0.75);
}
.mj-calendar__day:nth-child(95) {
  foo: 95;
}
.mj-calendar__day:nth-child(95)>circle {
  stroke: rgba(116,223,32,0.75);
}
.mj-calendar__day:nth-child(96) {
  foo: 96;
}
.mj-calendar__day:nth-child(96)>circle {
  stroke: rgba(113,223,32,0.75);
}
.mj-calendar__day:nth-child(97) {
  foo: 97;
}
.mj-calendar__day:nth-child(97)>circle {
  stroke: rgba(109,223,32,0.75);
}
.mj-calendar__day:nth-child(98) {
  foo: 98;
}
.mj-calendar__day:nth-child(98)>circle {
  stroke: rgba(106,223,32,0.75);
}
.mj-calendar__day:nth-child(99) {
  foo: 99;
}
.mj-calendar__day:nth-child(99)>circle {
  stroke: rgba(103,223,32,0.75);
}
.mj-calendar__day:nth-child(100) {
  foo: 100;
}
.mj-calendar__day:nth-child(100)>circle {
  stroke: rgba(100,223,32,0.75);
}
.mj-calendar__day:nth-child(101) {
  foo: 101;
}
.mj-calendar__day:nth-child(101)>circle {
  stroke: rgba(97,223,32,0.75);
}
.mj-calendar__day:nth-child(102) {
  foo: 102;
}
.mj-calendar__day:nth-child(102)>circle {
  stroke: rgba(94,223,32,0.75);
}
.mj-calendar__day:nth-child(103) {
  foo: 103;
}
.mj-calendar__day:nth-child(103)>circle {
  stroke: rgba(91,223,32,0.75);
}
.mj-calendar__day:nth-child(104) {
  foo: 104;
}
.mj-calendar__day:nth-child(104)>circle {
  stroke: rgba(87,223,32,0.75);
}
.mj-calendar__day:nth-child(105) {
  foo: 105;
}
.mj-calendar__day:nth-child(105)>circle {
  stroke: rgba(84,223,32,0.75);
}
.mj-calendar__day:nth-child(106) {
  foo: 106;
}
.mj-calendar__day:nth-child(106)>circle {
  stroke: rgba(81,223,32,0.75);
}
.mj-calendar__day:nth-child(107) {
  foo: 107;
}
.mj-calendar__day:nth-child(107)>circle {
  stroke: rgba(78,223,32,0.75);
}
.mj-calendar__day:nth-child(108) {
  foo: 108;
}
.mj-calendar__day:nth-child(108)>circle {
  stroke: rgba(75,223,32,0.75);
}
.mj-calendar__day:nth-child(109) {
  foo: 109;
}
.mj-calendar__day:nth-child(109)>circle {
  stroke: rgba(72,223,32,0.75);
}
.mj-calendar__day:nth-child(110) {
  foo: 110;
}
.mj-calendar__day:nth-child(110)>circle {
  stroke: rgba(69,223,32,0.75);
}
.mj-calendar__day:nth-child(111) {
  foo: 111;
}
.mj-calendar__day:nth-child(111)>circle {
  stroke: rgba(65,223,32,0.75);
}
.mj-calendar__day:nth-child(112) {
  foo: 112;
}
.mj-calendar__day:nth-child(112)>circle {
  stroke: rgba(62,223,32,0.75);
}
.mj-calendar__day:nth-child(113) {
  foo: 113;
}
.mj-calendar__day:nth-child(113)>circle {
  stroke: rgba(59,223,32,0.75);
}
.mj-calendar__day:nth-child(114) {
  foo: 114;
}
.mj-calendar__day:nth-child(114)>circle {
  stroke: rgba(56,223,32,0.75);
}
.mj-calendar__day:nth-child(115) {
  foo: 115;
}
.mj-calendar__day:nth-child(115)>circle {
  stroke: rgba(53,223,32,0.75);
}
.mj-calendar__day:nth-child(116) {
  foo: 116;
}
.mj-calendar__day:nth-child(116)>circle {
  stroke: rgba(50,223,32,0.75);
}
.mj-calendar__day:nth-child(117) {
  foo: 117;
}
.mj-calendar__day:nth-child(117)>circle {
  stroke: rgba(47,223,32,0.75);
}
.mj-calendar__day:nth-child(118) {
  foo: 118;
}
.mj-calendar__day:nth-child(118)>circle {
  stroke: rgba(43,223,32,0.75);
}
.mj-calendar__day:nth-child(119) {
  foo: 119;
}
.mj-calendar__day:nth-child(119)>circle {
  stroke: rgba(40,223,32,0.75);
}
.mj-calendar__day:nth-child(120) {
  foo: 120;
}
.mj-calendar__day:nth-child(120)>circle {
  stroke: rgba(37,223,32,0.75);
}
.mj-calendar__day:nth-child(121) {
  foo: 121;
}
.mj-calendar__day:nth-child(121)>circle {
  stroke: rgba(34,223,32,0.75);
}
.mj-calendar__day:nth-child(122) {
  foo: 122;
}
.mj-calendar__day:nth-child(122)>circle {
  stroke: rgba(32,223,33,0.75);
}
.mj-calendar__day:nth-child(123) {
  foo: 123;
}
.mj-calendar__day:nth-child(123)>circle {
  stroke: rgba(32,223,36,0.75);
}
.mj-calendar__day:nth-child(124) {
  foo: 124;
}
.mj-calendar__day:nth-child(124)>circle {
  stroke: rgba(32,223,39,0.75);
}
.mj-calendar__day:nth-child(125) {
  foo: 125;
}
.mj-calendar__day:nth-child(125)>circle {
  stroke: rgba(32,223,42,0.75);
}
.mj-calendar__day:nth-child(126) {
  foo: 126;
}
.mj-calendar__day:nth-child(126)>circle {
  stroke: rgba(32,223,45,0.75);
}
.mj-calendar__day:nth-child(127) {
  foo: 127;
}
.mj-calendar__day:nth-child(127)>circle {
  stroke: rgba(32,223,49,0.75);
}
.mj-calendar__day:nth-child(128) {
  foo: 128;
}
.mj-calendar__day:nth-child(128)>circle {
  stroke: rgba(32,223,52,0.75);
}
.mj-calendar__day:nth-child(129) {
  foo: 129;
}
.mj-calendar__day:nth-child(129)>circle {
  stroke: rgba(32,223,55,0.75);
}
.mj-calendar__day:nth-child(130) {
  foo: 130;
}
.mj-calendar__day:nth-child(130)>circle {
  stroke: rgba(32,223,58,0.75);
}
.mj-calendar__day:nth-child(131) {
  foo: 131;
}
.mj-calendar__day:nth-child(131)>circle {
  stroke: rgba(32,223,61,0.75);
}
.mj-calendar__day:nth-child(132) {
  foo: 132;
}
.mj-calendar__day:nth-child(132)>circle {
  stroke: rgba(32,223,64,0.75);
}
.mj-calendar__day:nth-child(133) {
  foo: 133;
}
.mj-calendar__day:nth-child(133)>circle {
  stroke: rgba(32,223,68,0.75);
}
.mj-calendar__day:nth-child(134) {
  foo: 134;
}
.mj-calendar__day:nth-child(134)>circle {
  stroke: rgba(32,223,71,0.75);
}
.mj-calendar__day:nth-child(135) {
  foo: 135;
}
.mj-calendar__day:nth-child(135)>circle {
  stroke: rgba(32,223,74,0.75);
}
.mj-calendar__day:nth-child(136) {
  foo: 136;
}
.mj-calendar__day:nth-child(136)>circle {
  stroke: rgba(32,223,77,0.75);
}
.mj-calendar__day:nth-child(137) {
  foo: 137;
}
.mj-calendar__day:nth-child(137)>circle {
  stroke: rgba(32,223,80,0.75);
}
.mj-calendar__day:nth-child(138) {
  foo: 138;
}
.mj-calendar__day:nth-child(138)>circle {
  stroke: rgba(32,223,83,0.75);
}
.mj-calendar__day:nth-child(139) {
  foo: 139;
}
.mj-calendar__day:nth-child(139)>circle {
  stroke: rgba(32,223,86,0.75);
}
.mj-calendar__day:nth-child(140) {
  foo: 140;
}
.mj-calendar__day:nth-child(140)>circle {
  stroke: rgba(32,223,90,0.75);
}
.mj-calendar__day:nth-child(141) {
  foo: 141;
}
.mj-calendar__day:nth-child(141)>circle {
  stroke: rgba(32,223,93,0.75);
}
.mj-calendar__day:nth-child(142) {
  foo: 142;
}
.mj-calendar__day:nth-child(142)>circle {
  stroke: rgba(32,223,96,0.75);
}
.mj-calendar__day:nth-child(143) {
  foo: 143;
}
.mj-calendar__day:nth-child(143)>circle {
  stroke: rgba(32,223,99,0.75);
}
.mj-calendar__day:nth-child(144) {
  foo: 144;
}
.mj-calendar__day:nth-child(144)>circle {
  stroke: rgba(32,223,102,0.75);
}
.mj-calendar__day:nth-child(145) {
  foo: 145;
}
.mj-calendar__day:nth-child(145)>circle {
  stroke: rgba(32,223,105,0.75);
}
.mj-calendar__day:nth-child(146) {
  foo: 146;
}
.mj-calendar__day:nth-child(146)>circle {
  stroke: rgba(32,223,108,0.75);
}
.mj-calendar__day:nth-child(147) {
  foo: 147;
}
.mj-calendar__day:nth-child(147)>circle {
  stroke: rgba(32,223,112,0.75);
}
.mj-calendar__day:nth-child(148) {
  foo: 148;
}
.mj-calendar__day:nth-child(148)>circle {
  stroke: rgba(32,223,115,0.75);
}
.mj-calendar__day:nth-child(149) {
  foo: 149;
}
.mj-calendar__day:nth-child(149)>circle {
  stroke: rgba(32,223,118,0.75);
}
.mj-calendar__day:nth-child(150) {
  foo: 150;
}
.mj-calendar__day:nth-child(150)>circle {
  stroke: rgba(32,223,121,0.75);
}
.mj-calendar__day:nth-child(151) {
  foo: 151;
}
.mj-calendar__day:nth-child(151)>circle {
  stroke: rgba(32,223,124,0.75);
}
.mj-calendar__day:nth-child(152) {
  foo: 152;
}
.mj-calendar__day:nth-child(152)>circle {
  stroke: rgba(32,223,127,0.75);
}
.mj-calendar__day:nth-child(153) {
  foo: 153;
}
.mj-calendar__day:nth-child(153)>circle {
  stroke: rgba(32,223,130,0.75);
}
.mj-calendar__day:nth-child(154) {
  foo: 154;
}
.mj-calendar__day:nth-child(154)>circle {
  stroke: rgba(32,223,134,0.75);
}
.mj-calendar__day:nth-child(155) {
  foo: 155;
}
.mj-calendar__day:nth-child(155)>circle {
  stroke: rgba(32,223,137,0.75);
}
.mj-calendar__day:nth-child(156) {
  foo: 156;
}
.mj-calendar__day:nth-child(156)>circle {
  stroke: rgba(32,223,140,0.75);
}
.mj-calendar__day:nth-child(157) {
  foo: 157;
}
.mj-calendar__day:nth-child(157)>circle {
  stroke: rgba(32,223,143,0.75);
}
.mj-calendar__day:nth-child(158) {
  foo: 158;
}
.mj-calendar__day:nth-child(158)>circle {
  stroke: rgba(32,223,146,0.75);
}
.mj-calendar__day:nth-child(159) {
  foo: 159;
}
.mj-calendar__day:nth-child(159)>circle {
  stroke: rgba(32,223,149,0.75);
}
.mj-calendar__day:nth-child(160) {
  foo: 160;
}
.mj-calendar__day:nth-child(160)>circle {
  stroke: rgba(32,223,152,0.75);
}
.mj-calendar__day:nth-child(161) {
  foo: 161;
}
.mj-calendar__day:nth-child(161)>circle {
  stroke: rgba(32,223,156,0.75);
}
.mj-calendar__day:nth-child(162) {
  foo: 162;
}
.mj-calendar__day:nth-child(162)>circle {
  stroke: rgba(32,223,159,0.75);
}
.mj-calendar__day:nth-child(163) {
  foo: 163;
}
.mj-calendar__day:nth-child(163)>circle {
  stroke: rgba(32,223,162,0.75);
}
.mj-calendar__day:nth-child(164) {
  foo: 164;
}
.mj-calendar__day:nth-child(164)>circle {
  stroke: rgba(32,223,165,0.75);
}
.mj-calendar__day:nth-child(165) {
  foo: 165;
}
.mj-calendar__day:nth-child(165)>circle {
  stroke: rgba(32,223,168,0.75);
}
.mj-calendar__day:nth-child(166) {
  foo: 166;
}
.mj-calendar__day:nth-child(166)>circle {
  stroke: rgba(32,223,171,0.75);
}
.mj-calendar__day:nth-child(167) {
  foo: 167;
}
.mj-calendar__day:nth-child(167)>circle {
  stroke: rgba(32,223,174,0.75);
}
.mj-calendar__day:nth-child(168) {
  foo: 168;
}
.mj-calendar__day:nth-child(168)>circle {
  stroke: rgba(32,223,178,0.75);
}
.mj-calendar__day:nth-child(169) {
  foo: 169;
}
.mj-calendar__day:nth-child(169)>circle {
  stroke: rgba(32,223,181,0.75);
}
.mj-calendar__day:nth-child(170) {
  foo: 170;
}
.mj-calendar__day:nth-child(170)>circle {
  stroke: rgba(32,223,184,0.75);
}
.mj-calendar__day:nth-child(171) {
  foo: 171;
}
.mj-calendar__day:nth-child(171)>circle {
  stroke: rgba(32,223,187,0.75);
}
.mj-calendar__day:nth-child(172) {
  foo: 172;
}
.mj-calendar__day:nth-child(172)>circle {
  stroke: rgba(32,223,190,0.75);
}
.mj-calendar__day:nth-child(173) {
  foo: 173;
}
.mj-calendar__day:nth-child(173)>circle {
  stroke: rgba(32,223,193,0.75);
}
.mj-calendar__day:nth-child(174) {
  foo: 174;
}
.mj-calendar__day:nth-child(174)>circle {
  stroke: rgba(32,223,196,0.75);
}
.mj-calendar__day:nth-child(175) {
  foo: 175;
}
.mj-calendar__day:nth-child(175)>circle {
  stroke: rgba(32,223,200,0.75);
}
.mj-calendar__day:nth-child(176) {
  foo: 176;
}
.mj-calendar__day:nth-child(176)>circle {
  stroke: rgba(32,223,203,0.75);
}
.mj-calendar__day:nth-child(177) {
  foo: 177;
}
.mj-calendar__day:nth-child(177)>circle {
  stroke: rgba(32,223,206,0.75);
}
.mj-calendar__day:nth-child(178) {
  foo: 178;
}
.mj-calendar__day:nth-child(178)>circle {
  stroke: rgba(32,223,209,0.75);
}
.mj-calendar__day:nth-child(179) {
  foo: 179;
}
.mj-calendar__day:nth-child(179)>circle {
  stroke: rgba(32,223,212,0.75);
}
.mj-calendar__day:nth-child(180) {
  foo: 180;
}
.mj-calendar__day:nth-child(180)>circle {
  stroke: rgba(32,223,215,0.75);
}
.mj-calendar__day:nth-child(181) {
  foo: 181;
}
.mj-calendar__day:nth-child(181)>circle {
  stroke: rgba(32,223,218,0.75);
}
.mj-calendar__day:nth-child(182) {
  foo: 182;
}
.mj-calendar__day:nth-child(182)>circle {
  stroke: rgba(32,223,222,0.75);
}
.mj-calendar__day:nth-child(183) {
  foo: 183;
}
.mj-calendar__day:nth-child(183)>circle {
  stroke: rgba(32,222,223,0.75);
}
.mj-calendar__day:nth-child(184) {
  foo: 184;
}
.mj-calendar__day:nth-child(184)>circle {
  stroke: rgba(32,218,223,0.75);
}
.mj-calendar__day:nth-child(185) {
  foo: 185;
}
.mj-calendar__day:nth-child(185)>circle {
  stroke: rgba(32,215,223,0.75);
}
.mj-calendar__day:nth-child(186) {
  foo: 186;
}
.mj-calendar__day:nth-child(186)>circle {
  stroke: rgba(32,212,223,0.75);
}
.mj-calendar__day:nth-child(187) {
  foo: 187;
}
.mj-calendar__day:nth-child(187)>circle {
  stroke: rgba(32,209,223,0.75);
}
.mj-calendar__day:nth-child(188) {
  foo: 188;
}
.mj-calendar__day:nth-child(188)>circle {
  stroke: rgba(32,206,223,0.75);
}
.mj-calendar__day:nth-child(189) {
  foo: 189;
}
.mj-calendar__day:nth-child(189)>circle {
  stroke: rgba(32,203,223,0.75);
}
.mj-calendar__day:nth-child(190) {
  foo: 190;
}
.mj-calendar__day:nth-child(190)>circle {
  stroke: rgba(32,200,223,0.75);
}
.mj-calendar__day:nth-child(191) {
  foo: 191;
}
.mj-calendar__day:nth-child(191)>circle {
  stroke: rgba(32,196,223,0.75);
}
.mj-calendar__day:nth-child(192) {
  foo: 192;
}
.mj-calendar__day:nth-child(192)>circle {
  stroke: rgba(32,193,223,0.75);
}
.mj-calendar__day:nth-child(193) {
  foo: 193;
}
.mj-calendar__day:nth-child(193)>circle {
  stroke: rgba(32,190,223,0.75);
}
.mj-calendar__day:nth-child(194) {
  foo: 194;
}
.mj-calendar__day:nth-child(194)>circle {
  stroke: rgba(32,187,223,0.75);
}
.mj-calendar__day:nth-child(195) {
  foo: 195;
}
.mj-calendar__day:nth-child(195)>circle {
  stroke: rgba(32,184,223,0.75);
}
.mj-calendar__day:nth-child(196) {
  foo: 196;
}
.mj-calendar__day:nth-child(196)>circle {
  stroke: rgba(32,181,223,0.75);
}
.mj-calendar__day:nth-child(197) {
  foo: 197;
}
.mj-calendar__day:nth-child(197)>circle {
  stroke: rgba(32,178,223,0.75);
}
.mj-calendar__day:nth-child(198) {
  foo: 198;
}
.mj-calendar__day:nth-child(198)>circle {
  stroke: rgba(32,174,223,0.75);
}
.mj-calendar__day:nth-child(199) {
  foo: 199;
}
.mj-calendar__day:nth-child(199)>circle {
  stroke: rgba(32,171,223,0.75);
}
.mj-calendar__day:nth-child(200) {
  foo: 200;
}
.mj-calendar__day:nth-child(200)>circle {
  stroke: rgba(32,168,223,0.75);
}
.mj-calendar__day:nth-child(201) {
  foo: 201;
}
.mj-calendar__day:nth-child(201)>circle {
  stroke: rgba(32,165,223,0.75);
}
.mj-calendar__day:nth-child(202) {
  foo: 202;
}
.mj-calendar__day:nth-child(202)>circle {
  stroke: rgba(32,162,223,0.75);
}
.mj-calendar__day:nth-child(203) {
  foo: 203;
}
.mj-calendar__day:nth-child(203)>circle {
  stroke: rgba(32,159,223,0.75);
}
.mj-calendar__day:nth-child(204) {
  foo: 204;
}
.mj-calendar__day:nth-child(204)>circle {
  stroke: rgba(32,156,223,0.75);
}
.mj-calendar__day:nth-child(205) {
  foo: 205;
}
.mj-calendar__day:nth-child(205)>circle {
  stroke: rgba(32,152,223,0.75);
}
.mj-calendar__day:nth-child(206) {
  foo: 206;
}
.mj-calendar__day:nth-child(206)>circle {
  stroke: rgba(32,149,223,0.75);
}
.mj-calendar__day:nth-child(207) {
  foo: 207;
}
.mj-calendar__day:nth-child(207)>circle {
  stroke: rgba(32,146,223,0.75);
}
.mj-calendar__day:nth-child(208) {
  foo: 208;
}
.mj-calendar__day:nth-child(208)>circle {
  stroke: rgba(32,143,223,0.75);
}
.mj-calendar__day:nth-child(209) {
  foo: 209;
}
.mj-calendar__day:nth-child(209)>circle {
  stroke: rgba(32,140,223,0.75);
}
.mj-calendar__day:nth-child(210) {
  foo: 210;
}
.mj-calendar__day:nth-child(210)>circle {
  stroke: rgba(32,137,223,0.75);
}
.mj-calendar__day:nth-child(211) {
  foo: 211;
}
.mj-calendar__day:nth-child(211)>circle {
  stroke: rgba(32,134,223,0.75);
}
.mj-calendar__day:nth-child(212) {
  foo: 212;
}
.mj-calendar__day:nth-child(212)>circle {
  stroke: rgba(32,130,223,0.75);
}
.mj-calendar__day:nth-child(213) {
  foo: 213;
}
.mj-calendar__day:nth-child(213)>circle {
  stroke: rgba(32,127,223,0.75);
}
.mj-calendar__day:nth-child(214) {
  foo: 214;
}
.mj-calendar__day:nth-child(214)>circle {
  stroke: rgba(32,124,223,0.75);
}
.mj-calendar__day:nth-child(215) {
  foo: 215;
}
.mj-calendar__day:nth-child(215)>circle {
  stroke: rgba(32,121,223,0.75);
}
.mj-calendar__day:nth-child(216) {
  foo: 216;
}
.mj-calendar__day:nth-child(216)>circle {
  stroke: rgba(32,118,223,0.75);
}
.mj-calendar__day:nth-child(217) {
  foo: 217;
}
.mj-calendar__day:nth-child(217)>circle {
  stroke: rgba(32,115,223,0.75);
}
.mj-calendar__day:nth-child(218) {
  foo: 218;
}
.mj-calendar__day:nth-child(218)>circle {
  stroke: rgba(32,112,223,0.75);
}
.mj-calendar__day:nth-child(219) {
  foo: 219;
}
.mj-calendar__day:nth-child(219)>circle {
  stroke: rgba(32,108,223,0.75);
}
.mj-calendar__day:nth-child(220) {
  foo: 220;
}
.mj-calendar__day:nth-child(220)>circle {
  stroke: rgba(32,105,223,0.75);
}
.mj-calendar__day:nth-child(221) {
  foo: 221;
}
.mj-calendar__day:nth-child(221)>circle {
  stroke: rgba(32,102,223,0.75);
}
.mj-calendar__day:nth-child(222) {
  foo: 222;
}
.mj-calendar__day:nth-child(222)>circle {
  stroke: rgba(32,99,223,0.75);
}
.mj-calendar__day:nth-child(223) {
  foo: 223;
}
.mj-calendar__day:nth-child(223)>circle {
  stroke: rgba(32,96,223,0.75);
}
.mj-calendar__day:nth-child(224) {
  foo: 224;
}
.mj-calendar__day:nth-child(224)>circle {
  stroke: rgba(32,93,223,0.75);
}
.mj-calendar__day:nth-child(225) {
  foo: 225;
}
.mj-calendar__day:nth-child(225)>circle {
  stroke: rgba(32,90,223,0.75);
}
.mj-calendar__day:nth-child(226) {
  foo: 226;
}
.mj-calendar__day:nth-child(226)>circle {
  stroke: rgba(32,86,223,0.75);
}
.mj-calendar__day:nth-child(227) {
  foo: 227;
}
.mj-calendar__day:nth-child(227)>circle {
  stroke: rgba(32,83,223,0.75);
}
.mj-calendar__day:nth-child(228) {
  foo: 228;
}
.mj-calendar__day:nth-child(228)>circle {
  stroke: rgba(32,80,223,0.75);
}
.mj-calendar__day:nth-child(229) {
  foo: 229;
}
.mj-calendar__day:nth-child(229)>circle {
  stroke: rgba(32,77,223,0.75);
}
.mj-calendar__day:nth-child(230) {
  foo: 230;
}
.mj-calendar__day:nth-child(230)>circle {
  stroke: rgba(32,74,223,0.75);
}
.mj-calendar__day:nth-child(231) {
  foo: 231;
}
.mj-calendar__day:nth-child(231)>circle {
  stroke: rgba(32,71,223,0.75);
}
.mj-calendar__day:nth-child(232) {
  foo: 232;
}
.mj-calendar__day:nth-child(232)>circle {
  stroke: rgba(32,68,223,0.75);
}
.mj-calendar__day:nth-child(233) {
  foo: 233;
}
.mj-calendar__day:nth-child(233)>circle {
  stroke: rgba(32,64,223,0.75);
}
.mj-calendar__day:nth-child(234) {
  foo: 234;
}
.mj-calendar__day:nth-child(234)>circle {
  stroke: rgba(32,61,223,0.75);
}
.mj-calendar__day:nth-child(235) {
  foo: 235;
}
.mj-calendar__day:nth-child(235)>circle {
  stroke: rgba(32,58,223,0.75);
}
.mj-calendar__day:nth-child(236) {
  foo: 236;
}
.mj-calendar__day:nth-child(236)>circle {
  stroke: rgba(32,55,223,0.75);
}
.mj-calendar__day:nth-child(237) {
  foo: 237;
}
.mj-calendar__day:nth-child(237)>circle {
  stroke: rgba(32,52,223,0.75);
}
.mj-calendar__day:nth-child(238) {
  foo: 238;
}
.mj-calendar__day:nth-child(238)>circle {
  stroke: rgba(32,49,223,0.75);
}
.mj-calendar__day:nth-child(239) {
  foo: 239;
}
.mj-calendar__day:nth-child(239)>circle {
  stroke: rgba(32,45,223,0.75);
}
.mj-calendar__day:nth-child(240) {
  foo: 240;
}
.mj-calendar__day:nth-child(240)>circle {
  stroke: rgba(32,42,223,0.75);
}
.mj-calendar__day:nth-child(241) {
  foo: 241;
}
.mj-calendar__day:nth-child(241)>circle {
  stroke: rgba(32,39,223,0.75);
}
.mj-calendar__day:nth-child(242) {
  foo: 242;
}
.mj-calendar__day:nth-child(242)>circle {
  stroke: rgba(32,36,223,0.75);
}
.mj-calendar__day:nth-child(243) {
  foo: 243;
}
.mj-calendar__day:nth-child(243)>circle {
  stroke: rgba(32,33,223,0.75);
}
.mj-calendar__day:nth-child(244) {
  foo: 244;
}
.mj-calendar__day:nth-child(244)>circle {
  stroke: rgba(34,32,223,0.75);
}
.mj-calendar__day:nth-child(245) {
  foo: 245;
}
.mj-calendar__day:nth-child(245)>circle {
  stroke: rgba(37,32,223,0.75);
}
.mj-calendar__day:nth-child(246) {
  foo: 246;
}
.mj-calendar__day:nth-child(246)>circle {
  stroke: rgba(40,32,223,0.75);
}
.mj-calendar__day:nth-child(247) {
  foo: 247;
}
.mj-calendar__day:nth-child(247)>circle {
  stroke: rgba(43,32,223,0.75);
}
.mj-calendar__day:nth-child(248) {
  foo: 248;
}
.mj-calendar__day:nth-child(248)>circle {
  stroke: rgba(47,32,223,0.75);
}
.mj-calendar__day:nth-child(249) {
  foo: 249;
}
.mj-calendar__day:nth-child(249)>circle {
  stroke: rgba(50,32,223,0.75);
}
.mj-calendar__day:nth-child(250) {
  foo: 250;
}
.mj-calendar__day:nth-child(250)>circle {
  stroke: rgba(53,32,223,0.75);
}
.mj-calendar__day:nth-child(251) {
  foo: 251;
}
.mj-calendar__day:nth-child(251)>circle {
  stroke: rgba(56,32,223,0.75);
}
.mj-calendar__day:nth-child(252) {
  foo: 252;
}
.mj-calendar__day:nth-child(252)>circle {
  stroke: rgba(59,32,223,0.75);
}
.mj-calendar__day:nth-child(253) {
  foo: 253;
}
.mj-calendar__day:nth-child(253)>circle {
  stroke: rgba(62,32,223,0.75);
}
.mj-calendar__day:nth-child(254) {
  foo: 254;
}
.mj-calendar__day:nth-child(254)>circle {
  stroke: rgba(65,32,223,0.75);
}
.mj-calendar__day:nth-child(255) {
  foo: 255;
}
.mj-calendar__day:nth-child(255)>circle {
  stroke: rgba(69,32,223,0.75);
}
.mj-calendar__day:nth-child(256) {
  foo: 256;
}
.mj-calendar__day:nth-child(256)>circle {
  stroke: rgba(72,32,223,0.75);
}
.mj-calendar__day:nth-child(257) {
  foo: 257;
}
.mj-calendar__day:nth-child(257)>circle {
  stroke: rgba(75,32,223,0.75);
}
.mj-calendar__day:nth-child(258) {
  foo: 258;
}
.mj-calendar__day:nth-child(258)>circle {
  stroke: rgba(78,32,223,0.75);
}
.mj-calendar__day:nth-child(259) {
  foo: 259;
}
.mj-calendar__day:nth-child(259)>circle {
  stroke: rgba(81,32,223,0.75);
}
.mj-calendar__day:nth-child(260) {
  foo: 260;
}
.mj-calendar__day:nth-child(260)>circle {
  stroke: rgba(84,32,223,0.75);
}
.mj-calendar__day:nth-child(261) {
  foo: 261;
}
.mj-calendar__day:nth-child(261)>circle {
  stroke: rgba(87,32,223,0.75);
}
.mj-calendar__day:nth-child(262) {
  foo: 262;
}
.mj-calendar__day:nth-child(262)>circle {
  stroke: rgba(91,32,223,0.75);
}
.mj-calendar__day:nth-child(263) {
  foo: 263;
}
.mj-calendar__day:nth-child(263)>circle {
  stroke: rgba(94,32,223,0.75);
}
.mj-calendar__day:nth-child(264) {
  foo: 264;
}
.mj-calendar__day:nth-child(264)>circle {
  stroke: rgba(97,32,223,0.75);
}
.mj-calendar__day:nth-child(265) {
  foo: 265;
}
.mj-calendar__day:nth-child(265)>circle {
  stroke: rgba(100,32,223,0.75);
}
.mj-calendar__day:nth-child(266) {
  foo: 266;
}
.mj-calendar__day:nth-child(266)>circle {
  stroke: rgba(103,32,223,0.75);
}
.mj-calendar__day:nth-child(267) {
  foo: 267;
}
.mj-calendar__day:nth-child(267)>circle {
  stroke: rgba(106,32,223,0.75);
}
.mj-calendar__day:nth-child(268) {
  foo: 268;
}
.mj-calendar__day:nth-child(268)>circle {
  stroke: rgba(109,32,223,0.75);
}
.mj-calendar__day:nth-child(269) {
  foo: 269;
}
.mj-calendar__day:nth-child(269)>circle {
  stroke: rgba(113,32,223,0.75);
}
.mj-calendar__day:nth-child(270) {
  foo: 270;
}
.mj-calendar__day:nth-child(270)>circle {
  stroke: rgba(116,32,223,0.75);
}
.mj-calendar__day:nth-child(271) {
  foo: 271;
}
.mj-calendar__day:nth-child(271)>circle {
  stroke: rgba(119,32,223,0.75);
}
.mj-calendar__day:nth-child(272) {
  foo: 272;
}
.mj-calendar__day:nth-child(272)>circle {
  stroke: rgba(122,32,223,0.75);
}
.mj-calendar__day:nth-child(273) {
  foo: 273;
}
.mj-calendar__day:nth-child(273)>circle {
  stroke: rgba(125,32,223,0.75);
}
.mj-calendar__day:nth-child(274) {
  foo: 274;
}
.mj-calendar__day:nth-child(274)>circle {
  stroke: rgba(128,32,223,0.75);
}
.mj-calendar__day:nth-child(275) {
  foo: 275;
}
.mj-calendar__day:nth-child(275)>circle {
  stroke: rgba(131,32,223,0.75);
}
.mj-calendar__day:nth-child(276) {
  foo: 276;
}
.mj-calendar__day:nth-child(276)>circle {
  stroke: rgba(135,32,223,0.75);
}
.mj-calendar__day:nth-child(277) {
  foo: 277;
}
.mj-calendar__day:nth-child(277)>circle {
  stroke: rgba(138,32,223,0.75);
}
.mj-calendar__day:nth-child(278) {
  foo: 278;
}
.mj-calendar__day:nth-child(278)>circle {
  stroke: rgba(141,32,223,0.75);
}
.mj-calendar__day:nth-child(279) {
  foo: 279;
}
.mj-calendar__day:nth-child(279)>circle {
  stroke: rgba(144,32,223,0.75);
}
.mj-calendar__day:nth-child(280) {
  foo: 280;
}
.mj-calendar__day:nth-child(280)>circle {
  stroke: rgba(147,32,223,0.75);
}
.mj-calendar__day:nth-child(281) {
  foo: 281;
}
.mj-calendar__day:nth-child(281)>circle {
  stroke: rgba(150,32,223,0.75);
}
.mj-calendar__day:nth-child(282) {
  foo: 282;
}
.mj-calendar__day:nth-child(282)>circle {
  stroke: rgba(153,32,223,0.75);
}
.mj-calendar__day:nth-child(283) {
  foo: 283;
}
.mj-calendar__day:nth-child(283)>circle {
  stroke: rgba(157,32,223,0.75);
}
.mj-calendar__day:nth-child(284) {
  foo: 284;
}
.mj-calendar__day:nth-child(284)>circle {
  stroke: rgba(160,32,223,0.75);
}
.mj-calendar__day:nth-child(285) {
  foo: 285;
}
.mj-calendar__day:nth-child(285)>circle {
  stroke: rgba(163,32,223,0.75);
}
.mj-calendar__day:nth-child(286) {
  foo: 286;
}
.mj-calendar__day:nth-child(286)>circle {
  stroke: rgba(166,32,223,0.75);
}
.mj-calendar__day:nth-child(287) {
  foo: 287;
}
.mj-calendar__day:nth-child(287)>circle {
  stroke: rgba(169,32,223,0.75);
}
.mj-calendar__day:nth-child(288) {
  foo: 288;
}
.mj-calendar__day:nth-child(288)>circle {
  stroke: rgba(172,32,223,0.75);
}
.mj-calendar__day:nth-child(289) {
  foo: 289;
}
.mj-calendar__day:nth-child(289)>circle {
  stroke: rgba(175,32,223,0.75);
}
.mj-calendar__day:nth-child(290) {
  foo: 290;
}
.mj-calendar__day:nth-child(290)>circle {
  stroke: rgba(179,32,223,0.75);
}
.mj-calendar__day:nth-child(291) {
  foo: 291;
}
.mj-calendar__day:nth-child(291)>circle {
  stroke: rgba(182,32,223,0.75);
}
.mj-calendar__day:nth-child(292) {
  foo: 292;
}
.mj-calendar__day:nth-child(292)>circle {
  stroke: rgba(185,32,223,0.75);
}
.mj-calendar__day:nth-child(293) {
  foo: 293;
}
.mj-calendar__day:nth-child(293)>circle {
  stroke: rgba(188,32,223,0.75);
}
.mj-calendar__day:nth-child(294) {
  foo: 294;
}
.mj-calendar__day:nth-child(294)>circle {
  stroke: rgba(191,32,223,0.75);
}
.mj-calendar__day:nth-child(295) {
  foo: 295;
}
.mj-calendar__day:nth-child(295)>circle {
  stroke: rgba(194,32,223,0.75);
}
.mj-calendar__day:nth-child(296) {
  foo: 296;
}
.mj-calendar__day:nth-child(296)>circle {
  stroke: rgba(197,32,223,0.75);
}
.mj-calendar__day:nth-child(297) {
  foo: 297;
}
.mj-calendar__day:nth-child(297)>circle {
  stroke: rgba(201,32,223,0.75);
}
.mj-calendar__day:nth-child(298) {
  foo: 298;
}
.mj-calendar__day:nth-child(298)>circle {
  stroke: rgba(204,32,223,0.75);
}
.mj-calendar__day:nth-child(299) {
  foo: 299;
}
.mj-calendar__day:nth-child(299)>circle {
  stroke: rgba(207,32,223,0.75);
}
.mj-calendar__day:nth-child(300) {
  foo: 300;
}
.mj-calendar__day:nth-child(300)>circle {
  stroke: rgba(210,32,223,0.75);
}
.mj-calendar__day:nth-child(301) {
  foo: 301;
}
.mj-calendar__day:nth-child(301)>circle {
  stroke: rgba(213,32,223,0.75);
}
.mj-calendar__day:nth-child(302) {
  foo: 302;
}
.mj-calendar__day:nth-child(302)>circle {
  stroke: rgba(216,32,223,0.75);
}
.mj-calendar__day:nth-child(303) {
  foo: 303;
}
.mj-calendar__day:nth-child(303)>circle {
  stroke: rgba(219,32,223,0.75);
}
.mj-calendar__day:nth-child(304) {
  foo: 304;
}
.mj-calendar__day:nth-child(304)>circle {
  stroke: rgba(223,32,223,0.75);
}
.mj-calendar__day:nth-child(305) {
  foo: 305;
}
.mj-calendar__day:nth-child(305)>circle {
  stroke: rgba(223,32,221,0.75);
}
.mj-calendar__day:nth-child(306) {
  foo: 306;
}
.mj-calendar__day:nth-child(306)>circle {
  stroke: rgba(223,32,217,0.75);
}
.mj-calendar__day:nth-child(307) {
  foo: 307;
}
.mj-calendar__day:nth-child(307)>circle {
  stroke: rgba(223,32,214,0.75);
}
.mj-calendar__day:nth-child(308) {
  foo: 308;
}
.mj-calendar__day:nth-child(308)>circle {
  stroke: rgba(223,32,211,0.75);
}
.mj-calendar__day:nth-child(309) {
  foo: 309;
}
.mj-calendar__day:nth-child(309)>circle {
  stroke: rgba(223,32,208,0.75);
}
.mj-calendar__day:nth-child(310) {
  foo: 310;
}
.mj-calendar__day:nth-child(310)>circle {
  stroke: rgba(223,32,205,0.75);
}
.mj-calendar__day:nth-child(311) {
  foo: 311;
}
.mj-calendar__day:nth-child(311)>circle {
  stroke: rgba(223,32,202,0.75);
}
.mj-calendar__day:nth-child(312) {
  foo: 312;
}
.mj-calendar__day:nth-child(312)>circle {
  stroke: rgba(223,32,198,0.75);
}
.mj-calendar__day:nth-child(313) {
  foo: 313;
}
.mj-calendar__day:nth-child(313)>circle {
  stroke: rgba(223,32,195,0.75);
}
.mj-calendar__day:nth-child(314) {
  foo: 314;
}
.mj-calendar__day:nth-child(314)>circle {
  stroke: rgba(223,32,192,0.75);
}
.mj-calendar__day:nth-child(315) {
  foo: 315;
}
.mj-calendar__day:nth-child(315)>circle {
  stroke: rgba(223,32,189,0.75);
}
.mj-calendar__day:nth-child(316) {
  foo: 316;
}
.mj-calendar__day:nth-child(316)>circle {
  stroke: rgba(223,32,186,0.75);
}
.mj-calendar__day:nth-child(317) {
  foo: 317;
}
.mj-calendar__day:nth-child(317)>circle {
  stroke: rgba(223,32,183,0.75);
}
.mj-calendar__day:nth-child(318) {
  foo: 318;
}
.mj-calendar__day:nth-child(318)>circle {
  stroke: rgba(223,32,180,0.75);
}
.mj-calendar__day:nth-child(319) {
  foo: 319;
}
.mj-calendar__day:nth-child(319)>circle {
  stroke: rgba(223,32,176,0.75);
}
.mj-calendar__day:nth-child(320) {
  foo: 320;
}
.mj-calendar__day:nth-child(320)>circle {
  stroke: rgba(223,32,173,0.75);
}
.mj-calendar__day:nth-child(321) {
  foo: 321;
}
.mj-calendar__day:nth-child(321)>circle {
  stroke: rgba(223,32,170,0.75);
}
.mj-calendar__day:nth-child(322) {
  foo: 322;
}
.mj-calendar__day:nth-child(322)>circle {
  stroke: rgba(223,32,167,0.75);
}
.mj-calendar__day:nth-child(323) {
  foo: 323;
}
.mj-calendar__day:nth-child(323)>circle {
  stroke: rgba(223,32,164,0.75);
}
.mj-calendar__day:nth-child(324) {
  foo: 324;
}
.mj-calendar__day:nth-child(324)>circle {
  stroke: rgba(223,32,161,0.75);
}
.mj-calendar__day:nth-child(325) {
  foo: 325;
}
.mj-calendar__day:nth-child(325)>circle {
  stroke: rgba(223,32,158,0.75);
}
.mj-calendar__day:nth-child(326) {
  foo: 326;
}
.mj-calendar__day:nth-child(326)>circle {
  stroke: rgba(223,32,154,0.75);
}
.mj-calendar__day:nth-child(327) {
  foo: 327;
}
.mj-calendar__day:nth-child(327)>circle {
  stroke: rgba(223,32,151,0.75);
}
.mj-calendar__day:nth-child(328) {
  foo: 328;
}
.mj-calendar__day:nth-child(328)>circle {
  stroke: rgba(223,32,148,0.75);
}
.mj-calendar__day:nth-child(329) {
  foo: 329;
}
.mj-calendar__day:nth-child(329)>circle {
  stroke: rgba(223,32,145,0.75);
}
.mj-calendar__day:nth-child(330) {
  foo: 330;
}
.mj-calendar__day:nth-child(330)>circle {
  stroke: rgba(223,32,142,0.75);
}
.mj-calendar__day:nth-child(331) {
  foo: 331;
}
.mj-calendar__day:nth-child(331)>circle {
  stroke: rgba(223,32,139,0.75);
}
.mj-calendar__day:nth-child(332) {
  foo: 332;
}
.mj-calendar__day:nth-child(332)>circle {
  stroke: rgba(223,32,136,0.75);
}
.mj-calendar__day:nth-child(333) {
  foo: 333;
}
.mj-calendar__day:nth-child(333)>circle {
  stroke: rgba(223,32,132,0.75);
}
.mj-calendar__day:nth-child(334) {
  foo: 334;
}
.mj-calendar__day:nth-child(334)>circle {
  stroke: rgba(223,32,129,0.75);
}
.mj-calendar__day:nth-child(335) {
  foo: 335;
}
.mj-calendar__day:nth-child(335)>circle {
  stroke: rgba(223,32,126,0.75);
}
.mj-calendar__day:nth-child(336) {
  foo: 336;
}
.mj-calendar__day:nth-child(336)>circle {
  stroke: rgba(223,32,123,0.75);
}
.mj-calendar__day:nth-child(337) {
  foo: 337;
}
.mj-calendar__day:nth-child(337)>circle {
  stroke: rgba(223,32,120,0.75);
}
.mj-calendar__day:nth-child(338) {
  foo: 338;
}
.mj-calendar__day:nth-child(338)>circle {
  stroke: rgba(223,32,117,0.75);
}
.mj-calendar__day:nth-child(339) {
  foo: 339;
}
.mj-calendar__day:nth-child(339)>circle {
  stroke: rgba(223,32,114,0.75);
}
.mj-calendar__day:nth-child(340) {
  foo: 340;
}
.mj-calendar__day:nth-child(340)>circle {
  stroke: rgba(223,32,110,0.75);
}
.mj-calendar__day:nth-child(341) {
  foo: 341;
}
.mj-calendar__day:nth-child(341)>circle {
  stroke: rgba(223,32,107,0.75);
}
.mj-calendar__day:nth-child(342) {
  foo: 342;
}
.mj-calendar__day:nth-child(342)>circle {
  stroke: rgba(223,32,104,0.75);
}
.mj-calendar__day:nth-child(343) {
  foo: 343;
}
.mj-calendar__day:nth-child(343)>circle {
  stroke: rgba(223,32,101,0.75);
}
.mj-calendar__day:nth-child(344) {
  foo: 344;
}
.mj-calendar__day:nth-child(344)>circle {
  stroke: rgba(223,32,98,0.75);
}
.mj-calendar__day:nth-child(345) {
  foo: 345;
}
.mj-calendar__day:nth-child(345)>circle {
  stroke: rgba(223,32,95,0.75);
}
.mj-calendar__day:nth-child(346) {
  foo: 346;
}
.mj-calendar__day:nth-child(346)>circle {
  stroke: rgba(223,32,92,0.75);
}
.mj-calendar__day:nth-child(347) {
  foo: 347;
}
.mj-calendar__day:nth-child(347)>circle {
  stroke: rgba(223,32,88,0.75);
}
.mj-calendar__day:nth-child(348) {
  foo: 348;
}
.mj-calendar__day:nth-child(348)>circle {
  stroke: rgba(223,32,85,0.75);
}
.mj-calendar__day:nth-child(349) {
  foo: 349;
}
.mj-calendar__day:nth-child(349)>circle {
  stroke: rgba(223,32,82,0.75);
}
.mj-calendar__day:nth-child(350) {
  foo: 350;
}
.mj-calendar__day:nth-child(350)>circle {
  stroke: rgba(223,32,79,0.75);
}
.mj-calendar__day:nth-child(351) {
  foo: 351;
}
.mj-calendar__day:nth-child(351)>circle {
  stroke: rgba(223,32,76,0.75);
}
.mj-calendar__day:nth-child(352) {
  foo: 352;
}
.mj-calendar__day:nth-child(352)>circle {
  stroke: rgba(223,32,73,0.75);
}
.mj-calendar__day:nth-child(353) {
  foo: 353;
}
.mj-calendar__day:nth-child(353)>circle {
  stroke: rgba(223,32,70,0.75);
}
.mj-calendar__day:nth-child(354) {
  foo: 354;
}
.mj-calendar__day:nth-child(354)>circle {
  stroke: rgba(223,32,66,0.75);
}
.mj-calendar__day:nth-child(355) {
  foo: 355;
}
.mj-calendar__day:nth-child(355)>circle {
  stroke: rgba(223,32,63,0.75);
}
.mj-calendar__day:nth-child(356) {
  foo: 356;
}
.mj-calendar__day:nth-child(356)>circle {
  stroke: rgba(223,32,60,0.75);
}
.mj-calendar__day:nth-child(357) {
  foo: 357;
}
.mj-calendar__day:nth-child(357)>circle {
  stroke: rgba(223,32,57,0.75);
}
.mj-calendar__day:nth-child(358) {
  foo: 358;
}
.mj-calendar__day:nth-child(358)>circle {
  stroke: rgba(223,32,54,0.75);
}
.mj-calendar__day:nth-child(359) {
  foo: 359;
}
.mj-calendar__day:nth-child(359)>circle {
  stroke: rgba(223,32,51,0.75);
}
.mj-calendar__day:nth-child(360) {
  foo: 360;
}
.mj-calendar__day:nth-child(360)>circle {
  stroke: rgba(223,32,48,0.75);
}
.mj-calendar__day:nth-child(361) {
  foo: 361;
}
.mj-calendar__day:nth-child(361)>circle {
  stroke: rgba(223,32,44,0.75);
}
.mj-calendar__day:nth-child(362) {
  foo: 362;
}
.mj-calendar__day:nth-child(362)>circle {
  stroke: rgba(223,32,41,0.75);
}
.mj-calendar__day:nth-child(363) {
  foo: 363;
}
.mj-calendar__day:nth-child(363)>circle {
  stroke: rgba(223,32,38,0.75);
}
.mj-calendar__day:nth-child(364) {
  foo: 364;
}
.mj-calendar__day:nth-child(364)>circle {
  stroke: rgba(223,32,35,0.75);
}
.mj-calendar__day:nth-child(365) {
  foo: 365;
}
.mj-calendar__day:nth-child(365)>circle {
  stroke: rgba(223,32,32,0.75);
}
.mj-calendar__day:hover .mj-calendar__dateWrap {
  opacity: 1;
  display: block;
}
.mj-calendar__line {
  stroke: rgba(0,70,140,0.1);
  stroke-width: 0.25;
  fill: none;
}
.mj-calendar__line._additional {
  stroke: rgba(0,0,0,0.15);
  stroke-width: 0.25;
/*display: none;*/
  shape-rendering: geometricPrecision;
}
.mj-calendar__circle {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  fill: #fff;
  stroke: rgba(0,70,140,0.25);
  stroke-width: 0.25;
}
.mj-calendar__circle._weekend {
  stroke: rgba(0,70,140,0.25);
  stroke-width: 0.5;
}
.mj-calendar__circle:hover {
  stroke: rgba(0,70,140,0);
  fill: #0079f2;
}
.mj-calendar svg {
  border: 1px solid rgba(0,0,0,0.1);
}
.mj-calendar__svg {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.mj-calendar__wrapper {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: relative;
  z-index: 100;
  background-color: rgba(0,0,0,0.05);
}
.mj-login__overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.15);
}
.mj-login__additional {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mj-login__additional>* {
  margin-bottom: 10px;
}
.mj-login__box {
  background-color: #fff;
  padding: 40px 60px 10px;
  max-width: 420px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 8px 32px -16px #000;
}
.mj-login__box>* {
  margin-bottom: 20px;
  width: 100%;
}
.mj-login__header {
  line-height: 35px;
}
.mj-login__description {
  opacity: 0.5;
}
.mj-input {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.15);
  padding-left: 5px;
}
.mj-input._error {
  border: 1px solid rgba(120,0,0,0.5);
}
.mj-input._error:after {
  content: "This does not look like an email.";
}
.mj-button {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 120%;
  border: none;
  border-radius: 2px;
  background-color: #00468c;
  transition: 0.15s all ease-in-out;
  cursor: pointer;
}
.mj-button:hover {
  background-color: #0053a6;
}
.mj-button._error {
  background-color: #dfdfdf;
  cursor: default;
}
.mj-link {
  text-decoration: none;
  color: #00468c;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0,70,140,0.15);
  transition: 0.15s all ease-in-out;
}
.mj-link:hover {
  border-bottom: 1px solid rgba(0,70,140,0.5);
}
.mj-logout {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
}
.mj-calendar__form {
  position: absolute;
  background-color: #fff;
  padding: 4px 2px;
  z-index: 250;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  display: flex;
  box-shadow: 0 8px 32px -16px #000;
}
.mj-calendar__form>* {
  margin: 0 2px;
  min-width: 140px;
  white-space: nowrap;
}
.mj-calendar__form .mj-button {
  text-align: center;
}
.mj-calendar__form .mj-input {
  margin-bottom: 0;
}
.mj-calendar__form .mj-input:first-child {
  min-width: 400px;
}
.ui-datepicker {
  border: none !important;
  background: #fff !important;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,0.25);
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui-datepicker-header {
  padding: 10px 20px;
  display: flex;
  background: none !important;
  color: #00468c;
  border: none !important;
}
.ui-datepicker-calendar thead th {
  font-weight: 200;
  font-size: 80%;
  opacity: 0.25;
}
.ui-state-default {
  width: 100%;
  min-width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #00468c;
  font-family: 'Roboto', serif;
  border: none !important;
  background: none !important;
  font-weight: 200;
  font-size: 12px;
  padding: 10px;
}
.ui-state-hover {
  background: rgba(0,70,140,0.15) !important;
  color: #00468c !important;
}
.ui-datepicker-prev {
  order: 1;
}
.ui-datepicker-title {
  order: 2;
  color: #505050;
}
.ui-datepicker-next {
  order: 3;
}
